<!DOCTYPE html>
<html>
<head>
    <title>Signed Contract</title>
</head>
<body>
    <h1>Signed Contract</h1>
    <iframe src="<%= pdfPath %>" width="600" height="800"></iframe><br><br>
    <a href="/download-contract?pdfPath=<%= pdfPath %>">Download Contract</a>
</body>
</html>
